@import url(reset.css);

div {
	width: 1440px;
}

.header-container h1 {
	height: 200px;
	background-color: #E5E000;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	color: white;
} 
.image-container {
	height:1080px;
	background-image: url(../img/img.png);
}

.links-container h2 {
	height: 100px;
	top: 1280px;
	background-color: #E5E000;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: white;
}
h3 {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
	color: #000000;
}

p, ul {
	font-family: Helvetica;
	font-style: normal;
	font-weight: 300;
	font-size: 50px;
	line-height: 57px;
	color: #000000;
}
footer {
	align-items: center;
}

.footer-container {
	height: 200px;
	background-color: #E5E000;
	background-color: #E5E000;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: left;
}
.footer-text {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
	color: white;
	text-align: right
}
