@import url(reset.css);

.header {
	width: 1440px;
	height: 60px;
	background-color: #FE1A19;
}

h1 {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	padding-top: 20px;
	padding-left: 20px;
}

section {
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
}

h2 {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	position: absolute;
	left: 33px;
	top: 33px;
}
.receipt-content.first {
	position: absolute;
	top: 112px;
	left: 70px;
}

.receipt-content.second {
	position: absolute;
	top: 112px;
	left: 520px;
}

.receipt-content.third {
	position: absolute;
	top: 112px;
	left: 970px;
}

.receipt-text {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	position: absolute;
	top: 97px;
	left: 33px;

}
.footer {
	width: 1440px;
	height: 60px;
	background-color: #FE1A19;
	position: absolute;
	left: 0px;
	top: 964px;
}
