@import url(reset.css);

.header {
	height: 60px;
	background-color: #FE1A19;
}


h1 {
	font-family: Helvetica;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	padding-top: 20px;
	padding-left: 20px;
}

.content {
	text-align: center;
	padding-top: 75px;

	

}

h2 {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
	line-height: 23px;
	padding-top: 33px;
}
.receipt-content.first {
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
	display: inline-block;
	text-align: left;
	padding-left: 33px;
	
}

.receipt-content.second {
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
	display: inline-block;
	margin-left: 100px;
	margin-right: 100px;
	text-align: left;
	padding-left: 33px;
}

.receipt-content.third {
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
	display: inline-block;
	text-align: left;
	padding-left: 33px;
}

ul {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	padding-top: 23px;
}
h3 {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	font-size: 20px;
	line-height: 23px;
}


.footer {
	height: 60px;
	background-color: #FE1A19;
	position: fixed;
    left: 0; bottom: 0;
    width: 100%
}
